 <%if logged_in? %>
 <%= render 'users/show', user: @user %>


 

 
<h3>All Recipes</h3>
<div id= "all_recipes">all recipes here</div>
 <% @recipes.each do |recipe|%>
 <%=link_to recipe.title, recipe_path(recipe), class: "recipes"%> <br>
 <%end%>
 <% else %>
  <%= render template: 'users/welcome' %>
 <%end%>














